.all-categories{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.categories {
    min-height: 73vh;
}

.categories .all-categories .category-box{
    border: 1px solid #E7EDF4;
    padding: 30px 15px;
    border-radius: 15px;
    transition: .5s;
    cursor: pointer;
    width: 32.3%;
}

.categories .all-categories .category-box:hover{
    border: 1px solid #0B4DDE;
}

.categories .all-categories .category-box:hover .category-name{
    color: #0B4DDE;
}

.categories .all-categories .category-box .category-logo{
    background-color: #F3F6FE;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.categories .all-categories .category-box .category-logo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories .all-categories .category-box .category-name{
    font-size: 14px;
    font-weight: 500;
    transition: .5s;
}

.categories .all-categories .category-box .category-count{
    color: #6f757e;
    font-size: 13px;
}