.full-list {
  position: relative;
  min-height: 100vh;
}
.full-list .full-list-head h1 {
  font-size: 24px;
  padding: 20px 50px;
  background-color: #fbfbfd;
  border-bottom: 1px solid #e7edf4;
}

.full-list table .adver-name {
  font-size: 13px;
  font-weight: 500;
}

.full-list table .adver-name .heart-svg path {
  cursor: pointer;
  fill: #ff8686;
  stroke: none;
}

.full-list table .comp-name {
  color: #1a1a1a;
  font-size: 13px;
}

.full-list table .adver-date {
  color: #7f858d;
  font-size: 13px;
}

.full-list th {
  font-size: 14px;
  font-weight: 500;
}

.full-list table .adver-name .premium {
  border: 1px solid #00d153;
  border-radius: 4px;
  font-weight: 500;
  font-size: 8px;
  line-height: 1.2rem;
  padding: 0.2rem 0.4rem;
  color: #00d153;
  text-transform: uppercase;
  margin-left: 1rem;
  pointer-events: none;
}

.full-list table .adver-name .new {
  border: 1px solid #ff8585;
  border-radius: 4px;
  font-weight: 500;
  font-size: 8px;
  line-height: 1.2rem;
  padding: 0.2rem 0.4rem;
  color: #ff8585;
  text-transform: uppercase;
  margin-left: 1rem;
  pointer-events: none;
}

.table-hover tbody td,
.table-hover tbody th {
  transition: 1s all;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    cursor: pointer;
}
